.content-scheduled{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;


    &:not(.active){

        .content-scheduled-body{
            display: none;
        }

    }


    &.active{

        .content-scheduled-title{

            background: rgba(#151515, 0.8);
            color: $white-color;
            border-end-end-radius: 0;
            border-end-start-radius: 0;
        }

        .content-scheduled-body{
            display: grid;
        }

        svg{

            transform: rotate(180deg);

        }

    }


    &:not(:last-child){


        .content-scheduled-title{

            &::before{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 1px;
                background: $letter-color;
                
            }

        }

    }

    &-title{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        place-items: start;
        gap: 25px;
        width: 100%;
        padding: 10px 20px;
        border-radius: 6px;
        color: $letter-color;
        font-weight: 600;
        position: relative;
        


        & > div:first-child{
            display: flex;
            justify-content: flex-start;
        }

        & > div{
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;


        }

        & > div:last-child{
            display: flex;
            justify-content: flex-end;
        }
        
        &-data{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            gap: 20px;
        }



        &-icon{

           
            cursor: pointer;

            svg{
                background: $first-color;
                padding: 10px;
                border-radius: 50%;
                color: $white-color;
            }


            

            

        }
    }


    &-body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 100px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        padding: 10px 20px;
        
        box-shadow: 0 0 4px $letter-color;
        background: rgba($letter-color, 1) ;
        color: $white-color;

        &-sintomas-title, &-exames-title{
            font-weight: 600;
        }

        
        & > div{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
}