.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &:not(.hide-content){

        animation: skew-x-shakeng 0.4s ;


    }

    &-container{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $red-color;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: $white-color;
        font-size: 20px;
        
    }

    span{
        background: $red-color;
        padding: 5px 20px;
        color: $white-color;
        border-radius: 6px;
        font-size: 12px;
    }
}


@keyframes skew-x-shakeng{

    0% { opacity: 0; transform: skewX(-10deg); }
    5% { transform: skewX(10deg); }
    10% { transform: skewX(-10deg); }
    15% { transform: skewX(10deg); }
    20% { transform: skewX(0deg); }
    100% { opacity: 1; transform: skewX(0deg); }
}