.footer-login{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: $letter-color;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white-color;

    backdrop-filter: blur(10px);
    text-transform: uppercase;

    
   
}