@media screen and (max-width: 998px) {

    .container-form-image{
        display: none!important ;
    }

    .container.login{
        height: max-content;
        margin-top: 20px;
    }

  
    
}