$first-color: #40A578;
$second-color: #00a35a;
$third-color: #2F4858;


$black-color: #191919;
$white-color: #F7F9F2;
$grey-color: #373A40;
$red-color: #E72929;


$background-grey-color: #e2e2e2;
$letter-color: #8a8d91